#skills{
    padding: 40px 0;
    height: 700px;
}

.skills__container{
    max-width: 600px;
    height: 450px;
    margin: auto; 
}

.skills__container__logo{
    height: 65%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
}

.logo{
    width: 100px;
    margin: 15px 40px;
    text-align: center;
}

.logo img{
    width: 60px;
    cursor: pointer;
}

.logo:hover{
    transition: 0.5s;
    transform: scale(1.2);
}